<div class="bar bar-header bar-dark">
			<a class="button icon-left ion-chevron-left button-clear button-white" ui-sref="general"></a>
			<a ui-sref="welcome"><h1  class="title">tHeSySTem</h1></a>
			<!--<button class="button button-icon icon ion-navicon" ui-sref="manage"></button>!-->
</div>
<div class="list has-subheader">

			<label class="item item-input item-stacked-label">
				<span class="input-label">First Name</span>
				<input type="text" placeholder="First Name">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Last Name</span>
				<input type="text" placeholder="Last Name">
			</label>
				<label class="item item-input item-stacked-label">
				<label class="item item-input item-select">
				Age 
					<select name="age">
						<option selected>Pleace Select Age</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option >19</option>
						<option>20</option>
					</select>
				</label>
			  </label>
			  <label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="text" placeholder="john@suhr.com">
			  </label>
</div>
<div class="row">
		<div class="col col-50">
			<a ui-sref="general">
						<button class="button button-block button button-stable   has-subheader">
							  Cancel
						</button>
			</a>
		</div>
		<div class="col col-50">
			<a ui-sref="general">
					<button class="button button-block  button-balanced   has-subheader">
						  OK
					</button>
			</a>
		</div>
	</div>