<div class="bar bar-header bar-dark">
			<a class="button icon-right ion-chevron-left button-clear button-white" ui-sref="security_et"></a>
			<a ui-sref="welcome"><h1  class="title">tHeSySTem</h1></a>
			<!--<button class="button button-icon icon ion-navicon" ui-sref="manage"></button>!-->
</div>
<div class="list has-subheader">
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
</div>
<div class="row">
		<div class="col col-50">
			<a ui-sref="security_et">
						<button class="button button-block button button-stable   has-subheader">
							  Cancel
						</button>
			</a>
		</div>
		<div class="col col-50">
			<a ui-sref="security">
					<button class="button button-block  button-balanced   has-subheader">
						  OK
					</button>
			</a>
		</div>
	</div>